{% raw %}<div style="text-align: center; margin-top: 2em; padding-top: 2em; border-top: 1px solid #eee;">
  <p>
    <a href="#URL-PAGINA-BLOG">Read the Blog</a> | <a href="#URL-PAGINA-ABOUT">About Sebastian</a>
  </p>
  <div class="social-icons">
    <a href="#URL-DE-FACEBOOK" rel="nofollow noopener noreferrer" itemprop="sameAs">
      <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a href="#URL-DE-INSTAGRAM" rel="nofollow noopener noreferrer" itemprop="sameAs">
      <i class="fab fa-fw fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="#URL-DE-LINKEDIN" rel="nofollow noopener noreferrer" itemprop="sameAs">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
    </a>
  </div>
  <p style="font-size: 0.8em; margin-top: 1em;">
    &copy; 2025 SellingCabo.Homes. All Rights Reserved.
  </p>
</div>{% endraw %}