<footer class="custom-footer-container">
  <div class="footer-column footer-left">
    <img src="/assets/images/sellingcabo.homes_black.png" alt="Sebastian Dee's Brand Logo" class="footer-logo" id="my-logo">
  </div>

  <div class="footer-column footer-center">
    <p class="footer-links">
  <a href="https://sellingcabo.homes/blog/" target="_blank">Read the Blog</a> | 
  <a href="https://sellingcabo.homes/blog/about" target="_blank">About Sebastian</a> | 
  <a href="https://sebastian.findmexicohouses.com" target="_blank">See Properties</a>
</p>

    <div class="social-icons">
      <a href="https://www.facebook.com/sebastiandeehomes/" rel="nofollow noopener noreferrer" target="_blank"><i class="fab fa-fw fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/sebastiandeehomes/" rel="nofollow noopener noreferrer" target="_blank"><i class="fab fa-fw fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/sebastiandeehomes/" rel="nofollow noopener noreferrer" target="_blank"><i class="fab fa-fw fa-linkedin"></i></a>
    </div>
<p class="footer-copyright-text">&copy; 2025 SellingCabo.Homes. All Rights Reserved.</p>
  </div>

  <div class="footer-column footer-right">
    <img src="/assets/images/Logo_Ronival_Blue_sin_BG.png" alt="Ronival Real Estate Logo" class="footer-logo" id="brokerage-logo">
  </div>
</footer>
